@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-left: 25vw;
}

body {
}

.capsule {
  display: flex;
  justify-content: center;
  background-color: brown;
  width: 30vw;
  border: 1px solid black;
  margin: 5vw;
}
.container {
  background-color: #efc88f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.capsuleContainer {
  display: flex;
  justify-content: center;
  background-color: black;
}
.top {
}

.middle {
}
.bottom {
}

#plus img {
  width: 100%;

}

#open img {
  width: 100%;
  background-color: transparent;
}

#plus img {
  width: 200px;
}

#open img {
  width: 375px;
}

#logo {
  margin-top: 150px;
  width: 80%;
  padding: 50px;
}

#plus {
  /* knapp bakom kapslar */
  background-color: transparent;
  border: none;
  box-sizing: content-box;
  margin-top: 50px;
}

#memorylane {
  margin-top: 60px;
  width: 300px;
}

#arrow {
  margin-top: 30px;
  height: 100px;
}

#open {
  background-color: transparent;
  border: none;
  padding: 5vw;
  box-sizing: content-box;
}

#tillbakaKnapp {
  padding: 6px;
  margin: 8px;
  max-width: 7vw;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  color: transparent;
  vertical-align: middle;
}

#tillbakaKnapp:hover {
  box-shadow: black 0 2px 5px 0;
}

#brown {
  height: 100vh;
  background-color: #443018;
}
.image-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #443018;
  color: white;
  font-family: Tahoma;
  border-radius: 15px;
  padding: 15px;
}

#tillbakaKnapp {
  padding: 2vw;
  max-width: 7vw;
}

#brown {
  height: 100vh;
  background-color: rgb(103, 80, 66);
}
