@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-left: 25vw;
}

body {
  height: 3000pt;
}

.capsule {
  display: flex;
  justify-content: center;
  background-color: brown;
  width: 30vw;
  border: 1px solid black;
  margin: 5vw;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.capsuleContainer {
  display: flex;
  justify-content: center;
  background-color: black;
}
.top {
  background-image: url("Startsida2.png");
  background-size: cover;
  padding: 4em;
  min-height: 800px;
}
.middle {
  background-image: url("./testjord2.png");
  background-size: cover;
  height: 400pt;
  width: 100%;
}
.bottom {
  background-color: brown;
  width: inherit;
}

#logo img {
}

#plus img {
  width: 100%;
}

#open img {
  width: 100%;
  background-color: transparent;
}

#plus img {
  width: 375px;
}

#open img {
  width: 375px;
}

#plus {
  /* knapp bakom kapslar */
  background-color: transparent;
  border: none;
  padding: 0;
  box-sizing: content-box;
  margin-top: 350px;
}

#open {
  background-color: transparent;
  border: none;
  padding: 0;
  box-sizing: content-box;
}
