h1 {
  /*Titel i "available capsule"-sidan*/
  text-align: center;
}

h2 {
  /*Titlar för alla kapslar*/
  font-size: 25px;
  color: white;
  font-family: Tahoma;
}

h3 {
  /*ljus text*/
  font-size: 18px;
  color: #efc88f;
  font-family: Tahoma;
  font-weight: normal;
}

h4 {
  /*Titel: förklarande text*/
  font-size: 18px;
  color: #efc88f;
  font-family: Tahoma;
}

h5 {
  font-size: 18px;
  color: #efc88f;
  font-family: Tahoma;
}

p {
  font-size: 15px;
  color: #291d0e;
  font-family: Tahoma;
}

body {
  background-color: #efc88f;
}

.capsule {
  display: flex;
  justify-content: center;
  background-color: brown;
  width: 30vw;
  border: 1px solid black;
  margin: 5vw;
}

.container {
  background-color: #efc88f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.capsuleContainer {
  display: flex;
  justify-content: center;
  background-color: black;
}

.top {
}

.middle {
}

.component {
  font-family: Tahoma;
  color: lightgoldenrodyellow;
}

.bottom {
  background-image: url("./morkjord2.png");
  background-repeat: repeat-y;
}

.component {
  font-family: Tahoma;
  color: lightgoldenrodyellow;
}

.open {
  background-color: transparent;
  border: none;
  padding: 5vw;
  box-sizing: content-box;
}

.open img {
  width: 150px;
  background-color: transparent;
}

#logo {
  margin-top: 125px;
  width: 60%;
  padding: 5px;
}

#closed {
  width: 150px;
}

#plus {
  /* knapp bakom kapslar */
  background-color: transparent;
  border: none;
  box-sizing: content-box;
  margin-top: 30px;
}

#plus img {
  width: 200px;
}

#plus:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#memorylane {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 25px;
  width: 200px;
}

#arrow {
  height: 60px;
  margin-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

#open {
  background-color: transparent;
  border: none;
  padding-bottom: 5vw;
  box-sizing: content-box;
}

#tillbakaKnapp {
  padding: 6px;
  margin: 8px;
  max-width: 7vw;
  vertical-align: middle;
}

#tillbakaKnapp:hover {
  box-shadow: black 0 2px 5px 0;
}

#brown {
  height: 100vh;
  background-color: #443018;
}

.image-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #443018;
  color: white;
  font-family: Tahoma;
  border-radius: 15px;
  padding: 15px;
}

.ptext {
  color: white;
}

.popupbutton {
  background-color: #efc88f;
  border: none;
  border-radius: 2px;
  color: #443018;
  padding: 3px 12px;
  margin: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.minibutton {
  font-size: 12px;
  color: #efc88f;
  background-color: #2b1e0f;
  border: none;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 3vh;
}

.addphotos {
  background-color: #443018;
  font-family: Tahoma;
  padding: 10px;
}

.addphoto_text {
  color: #efc88f;
  font-size: 35px;
  margin: 0vh;
}

#plus:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

input {
  border-radius: 5px;
  padding: 3px 8px;
}

.timer {
  padding-bottom: 4svh;
  color: #291d0e;
}

.mellanJord {
  background-size: cover;
  min-height: 500px;
  width: 375px;
}

.bottenJord {
  background-position: center;
  background-size: cover;
  min-height: 500px;
  width: 375px;
}

.button-group {
  display: flex;
  justify-content: center;
}
#how {
  position: relative;
  top: 2px;
  right: -45%;
  width: 10%;
}

.info {
  font-family: Tahoma;
  padding: 5vw;
  padding-top: 0vh;
}

#howH1 {
  padding-top: 25vh;
}

#x {
  padding: 5vw;
  color: #efc88f;
}
